body{
	margin: 0;
	padding: 0;
	min-width: 1280px;
	font-family: simhei;
}

p{
	margin: 0;
}
ul li{
	list-style: none;
	cursor: pointer;
	
}

ul,li{
	margin: 0;
	padding: 0;
}
.clear-fix:after{
	content: "";
	display: block;
	clear: both;
}

a{
	text-decoration: none;
}

/* header */
header{
	height: 55px;
	background: url(img/top-bg.gif) repeat-x;
}

.site-logo{
	height: 55px;
	line-height: 50px;
	margin-left: 45px;
	float: left;
}


.site-logo img{
	vertical-align: middle;
}


.login{
	float: right;
	height: 55px;
	margin-right: 90px;
	line-height: 50px;
	
}


.login img{
	vertical-align: middle;
}

.login a{
	text-decoration: none;
	font-size: 12px;
	color: #FFFFFF;
}

.search{
	float: right;
	height: 55px;
	line-height: 50px;
	margin-right: 20px;
	position: relative;
}

.search img{
	position: absolute;
	top: 19px;
	left: 17px;
}
.search input{
	height: 25px;
	width: 270px;
	padding-left: 40px;
	border: 1px solid #2289bf;
	border-radius: 20px;
	vertical-align: middle;
}


/* aside */
aside{
	width: 260px;
	float: left;
	
	height: 1200px;
	background: url(img/aside-bg.gif) repeat-y;
	color: #2380b1;
}

aside a{
	text-decoration: none;
	color: #bababe;
}

.user{
	color: #bababe;
	position: relative;
	
}

.user-logo{
	float: left;
	margin: 20px 40px;
}


.user .name{
	float: left;
	line-height: 100px;
}


.user a:hover{
	color: #FFFFFF;
	font-weight: bold;
}

.user ul{
	display: inline-block;
	margin: 0;
}

.user ul p{
	font-size: 14px;
	margin: 0;
}

.user-star{
	position: absolute;
	top: 100px;
	left: 20px;
	padding-right: 40px;
	border-right: 2px solid #444a65;
}

.user-follower{
	position: absolute;
	top: 100px;
	right: 70px;
}


.per-table{
	height: 200px;
	background-color: #383d4e;
	margin-top: 145px;
	position: relative;
	font-size: 13px;
}



.per-table ul{
	margin-top: 10px;
}

.per-table>ul>li {
	padding: 4px 17px 12px 17px;
}

.per-table>ul>li:hover{
	background-color: #393e4e;
	
}

.per-table .list-check ul{
	padding-left: 25px;
}

.per-table .list-check ul li{
	padding: 5px;
}

.per-table .list-check a{
	padding: 5px;
}

/* container */
.container{
	float: right;
	width: calc(100% - 260px);
	background-color: #eeeeed;
	height: 1200px;
}

.container .nav{
	height: 30px;
	background-color: #FFFFFF;
	padding-left: 30px;
	margin-bottom: 20px;
}

.container .nav a{
	text-decoration: none;
	color: #383d4e;
	line-height: 30px;
	height: 30px;
}

.container .main{
	width: 890px;
	margin: 0 auto;
}

/*partone*/

.part-one{
	background-color: #FFFFFF;
	position: relative;
	height: 84px;
	margin-bottom: 9px;
	border-radius: 1px;
	box-shadow: 0px 0px 5px #ABABAB;
}

.part-one label{
	font-size: 14px;
	color: #b7b7b7;
}

.part-one select {
	width: 79px;
	padding: 5px 0px 5px 10px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
}

.part-one .date input{
	padding: 3px 0px 2px 10px;
	cursor: pointer;
}

.part-one .long-input{
	width: 120px;
}
.part-one .black-arrow{
	background: url(img/black-arrow.gif) no-repeat 95% 5px;
}

.part-one .blue-arrwo{
	background: url(img/blue-arrow.gif) no-repeat 95% 5px;
}

.part-one .checkout{
	position: absolute;
	top: 14px;
	left: 35px;
}

.part-one .buyer{
	position: absolute;
	top: 14px;
	left: 200px;
}
.part-one .solder{
	position: absolute;
	top: 46px;
	left: 200px;
}.part-one .date{
	position: absolute;
	top: 14px;
	left: 421px;
}.part-one .time{
	position: absolute;
	top: 14px;
	left: 604px;
}

.part-one .people{
	position: absolute;
	top: 46px;
	left: 421px;
}

.part-one .chengjiao{
	position: absolute;
	top: 46px;
	left: 563px;
}

.part-one .change{
	position: absolute;
	top: 22px;
	left: 357px;
}

.change a{
	color: rgba(255, 255, 255, 0);
	font-size: 13px;
	position: absolute;
	top: 14px;
	left: 14px;
}

.search-button{
	position: absolute;
	top: 33px;
	right: 40px;
}

.search-button a{
	padding: 7px 15px;
	background-color: #388bc2;
	border-radius: 13%;
	font-size: 14px;
	color: #ffffff;
	transition: all .2s;
	-wekbit-tranisiton: all .2s;
}

.search-button a:hover{
	background-color: #6fb1dc;	
}

/*parttwo*/
.part-two{
	height: 63px;
	position: relative;
	margin-bottom: 20px;
	border-radius: 1px;
	box-shadow: 0px 0px 5px #ABABAB;
}

.part-two .lt, .gt{
	width: 29px;
	height: 63px;
	font-size: 30px;
	background-color: #FFFFFF;
	position: absolute;
}

.lt a, .gt a{
	line-height: 63px;
	color: #b7b7b7;
	padding-left: 6px;
}

.gt{
	top: 0px;
	right: 135px;
}

.price{
	width: 109px;
	height: 59px;
	background-color: #FFFFFF;
	text-align: center;
	position: absolute;
	border-top: 4px solid #FFFFFF;
	cursor: pointer;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.price:hover{
	border-color: #4388c9;
}
.price>span{
	vertical-align: sub;
}

.price p{
	color: #acacac;
	font-size: 22px;
}
.price p span{
	color: #ec6602;
	font-size: 30px;
	font-weight: 700;
}

.price-one{
	left: 35px;
}

.price-two{
	left: 150px;
}

.price-three{
	left: 265px;
}

.price-four{
	left: 380px;
}

.price-five{
	left: 495px;
}

.price-six{
	left: 610px;
}


.history{
	width: 128px;
	height: 63px;
	background: url(img/history.gif) no-repeat 20% 50%;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #FFFFFF;
}

.history p{
	text-align: right;
	padding-top: 24px;
	padding-right: 10px;
	font-size: 14px;
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-in-out;
}

.history p:hover{
	color: #4388c9;
}


/*partthree*/
.part-main{
	height: 69px;
	position: relative;
	margin-bottom: 14px;
}

.part-main .box{
	width: 196px;
	height: 69px;
	background-color: #FFFFFF;
	border-left: 4px solid #000;
	position: absolute;
	margin-top: 5px;
	font-size: 14px;
	box-shadow: 0px 0px 5px #d3d4d7;
	overflow: hidden;
	cursor: pointer;
}

.box span{
	display: block;
	padding-top: 13px;
	padding-left: 10px;
}

.box span:last-child{
	font-size: 13px;
	color: #b0b0b0;
}

.part-main .box-one{
	left: 0px;
	border-color: #44b29e;
}

.box-one div{
	width: 60px;
	height: 45px;
	background-color: #44b29e;
	position: absolute;
	top: 12px;
	right: 15px;
}

.part-main .box-two{
	left: 230px;
	border-color: #398bc2;
	
}
.box-two div{
	width: 60px;
	height: 45px;
	background-color: #398bc2;	
	position: absolute;
	top: 12px;
	right: 15px;
}

.part-main .box-three{
	right: 230px;
	border-color: #cf4a36;
}
.box-three div{
	width: 60px;
	height: 45px;
	background-color: #cf4a36;
	position: absolute;
	top: 12px;
	right: 15px;
}

.part-main 	.box-four{
	right: 0px;
	border-color: #e2cd47;
}
.box-four div{
	width: 60px;
	height: 45px;
	background-color: #e2cd47;
	position: absolute;
	top: 12px;
	right: 15px;
}


/*partfour*/
.part-four{
	height: 355px;
	margin-bottom: 10px;
}


.part-four .l-part{
	width: 530px;
	height: 355px;
	margin-right: 9px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #ababab;
	overflow: hidden;/*header溢出隐藏*/
	background-color: #FFFFFF;
	
}



.part-four .header,.part-five .header{
	height: 40px;
	background-color: #f4f6f7;
	border-bottom: 2px solid #e7e9eb;
	line-height: 40px;
	padding-left: 20px;
	font-size: 14px;
	color: #aaaaaa;
}

.part-four .l-part{
	float: left;
}


.l-part .project-item{
	position: relative;
	padding: 10px 20px;
}

.project-item ul li{
	display: inline-block;
	position: relative;
	width: 70px;
	line-height: 30px;
	text-align: center;

}

.l-part .project-item ul li input{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
	left: 0;
}


.project-item ul li span {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ededf0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1;
}

.project-item ul li input:checked + span {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	border-bottom: 1px solid #ffffff;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}


.project-item ul li .tab {
	display: none;
	position: absolute;
	width: 409px;
	height: 171px;
	padding: 20px;
	top: 31px;
	border: 1px solid #aaaaaa;
	z-index: 0;
	padding: 40px 40px;
	border-radius: 0 5px 5px 5px;
}

.project-item ul li input:checked + span + .tab {
	display: block;
}

.project-item ul li .tab table {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.project-item ul li .tab table td {
    border: 1px solid #aaaaaa;
    font-size: 14px;
    
}

.project-item ul li .tab table td:hover{
	background-color: #f4f5f6;
	
}



.project-item ul li .tab.item-2 {
    margin-left: -78px;
    border-radius: 5px;
}
.project-item ul li .tab.item-4 {
    margin-left: -234px;
    border-radius: 5px;
}
.project-item ul li .tab.item-5 {
    margin-left: -312px;
    border-radius: 5px;
}
.project-item ul li .tab.item-3 {
	margin-left: -156px;
	border-radius: 5px;
}



/*.l-part .header{
	height: 40px;
	background: url(img/header-bg.gif) repeat-x;
	line-height: 40px;
	padding-left: 20px;
}*/

/*part-four r-part*/
.part-four .r-part{
	width: 350px;
	height: 355px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #ABABAB;
	overflow: hidden;
	background-color: #FFFFFF;
	position: relative;
	
}
.part-four .r-part{
	float: right;
}

.part-four .r-part .form table{
	margin: 14px 34px 6px 34px;
	width: 282px;
}

.form table tr{
	height: 44px;
	font-size: 14px;
}

.form span{
	display: block;
	color: #cccbcb;
	font-size: 14px;
}

.form thead tr td{
	/* width: 148%; */
	border-bottom: 1px solid #e7e7e7;
}

.form tbody .t-price{
	border-right: 1px solid #E7E7E7;
	width: 40%;
}

.form .detail{
	height: 145px;
}
.form tbody tr:last-child td{

	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.form input{
	margin-left: 34px;
}

.form input,label{
	display: inline-block;
}

.form .button-position{
	top: 304px;
	right: 37px;
}

/*partfive*/
.part-five{
	height: 355px;
}


.part-five .l-part{
	width: 350px;
	height: 355px;
	margin-right: 9px;
	border-radius: 10px;	
	box-shadow: 0px 0px 5px #ABABAB;
	overflow: hidden;
	background-color: #FFFFFF;
	float: left;
	
}

.part-five .r-part{
	width: 530px;
	height: 355px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #ABABAB;
	overflow: hidden;
	background-color: #FFFFFF;
}

.canlader{
	margin: 10px 18px;
}

.l-part .canlader select{
	-webkit-appearance: none;
	height: 24px;
	border: 1px solid #cacbcb;
	cursor: pointer;
}

.canlader .time{
	width: 60px;
	padding-left: 5px;
	
}

.canlader .mouth{
	width: 80px;
	padding: 0 25px;
	background-image: url(img/arrow-down.png),url(img/arrow-r.png),url(img/arrow-l.png);
	background-repeat: no-repeat,no-repeat,no-repeat;
	background-position: 75% 50%, 95% 50%, 5% 50%;
}

.canlader .date{
	width: 80px;
	padding-left: 5px;
}

.canlader .arrow-down{
	background: url(img/arrow-down.png) no-repeat 95% 50%;
}

.canlader input{
	width: 70px;
	height: 24px;
	background-color: #FFFFFF;
	border: 1px solid #cacbcb;
	cursor: pointer;
}


.date-all{
	text-align: center;
	margin: 0px 20px;
}

.date-all .week td{
	padding: 10px 0;
	border-top: 2px solid #a9cfec;
	border-bottom: 2px solid #e1e1e1;
}

.date-all .day td{
	width: 44px;
	height: 40px;
	font-size: 14px;
}

.day .jieri span{
	color: #FF0000;
}

.day td:nth-child(6) p,.day td:nth-child(7) p{
	color: #ff0000;
}

.day .checked{
	border: 1px solid #f7d463;
}

.day td{
	border: 1px solid #FFFFFF;
	cursor: pointer;
	
}
.day td:hover{
	border: 1px solid #F7D463;
}

.r-part .rank table{
	margin: 18px 40px;
	width: 450px;
	height: 270px;
	border-color: #e1e1e1;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.rank tr td:nth-child(1){
	width: 66px;
}

.rank tr td:nth-child(2){
	width: 90px;
}

.rank tr:nth-child(2){
	background-color: #f3f5f6;
	
}

.rank tr:hover{
	background-color: #F3F5F6;
	
}

.bar{
	margin-bottom: 2px;
	display: inline-block;
	width: 168px;
	height: 4px;
	background-color: #dcdcdc;
}

.bar .hot{
	display: block;
	z-index: 99;
	margin-bottom: 2px;
	height: 4px;
}


.hot-bar1{
	width: 80%;
	background-color: #ed6e52;
	
}

.hot-bar2{
	width: 70%;
	background-color: #ef804f;
	
}

.hot-bar3{
	width: 59%;
	background-color: #f19f4f;
}

.hot-gt{
	background-color: #7fcbf0;
}

.hot-bar4{
	width: 53%;
}


.hot-bar5{
	width: 47%;
}

.hot-bar6{
	width: 43%;
}

.hot-bar7{
	width: 40%;
}

.hot-bar8{
	width: 34%;
}

.hot-bar9{
	width: 30%;
}

.hot-bar10{
	width: 27%;
}

