*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

.container{
	width: 1280px;
}

/*顶部导航页面*/
.header{
	background-color: #FFFFFF;
	height: 56px;
}

.header .site-title{
	font-size: 26px;
	height: 56px;
}

.header .site-pic{
	margin-left: 55px;
	vertical-align: middle;
}


.header .nav-list{
	position: absolute;
	top: 0px;
	left: 540px;
	
}

.header .nav-list .login-pic{
	width: 30px;
	vertical-align: middle;
}
.header .nav-list li{
	display: inline-block;
	margin-left: 30px;
	width: 84px;
	height: 52px;
	font-size: 18px;
	text-align: center;
}

.header .nav-list a{
	text-align: center;
	color: #8e9197;
	text-decoration: none;
	height: 52px;
	line-height: 50px;
}
.header .nav-list li:first-child{
	
	border-bottom: 4px solid #EA6F6E;
}
.header .nav-list li:first-child a{
	color: #ea6f6e;
}

.header .nav-list li a:hover{
	font-weight: bold;
}


/*第一part页面*/
.first-part{
	position: relative;
	color: #FFFFFF;
	font-size: 21px;
}

.first-part img{
	width: 1280px;
}

.first-part .first-form{
	position: absolute;
	top: 210px;
	left: 105px;
}
.first-part .first-form h1{
	font-size: 60px;
	font-weight: 100;
}

.first-part .first-form p{
	line-height: 30px;
	padding: 10px;
}

.first-part .first-form a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #e74f4d;
	height: 50px;
	line-height: 50px;
	width: 230px;
	font-size: 32px;
	color: #FFFFFF;
	padding: 10px 30px;
	letter-spacing: 3px;
	margin: 10px;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

.first-part .first-form a:hover{
	background-color: #FFFFFF;
	color: #FF0000;
}

/*第二part页面*/
.secord-part{
	height: 250px;
}

.secord-part .sec-intro {
	width: 316px;
	height: 170px;
	display: inline-block;
	
}
.secord-part .sec-intro img{
	display: block;
	margin: 40px auto;
	
}
.secord-part .sec-intro figcaption{
	text-align: center;
	display: inline-block;
	font-size: 14px;
	color: #8d8d8d;
	width: 152px;
	height: 51px;
	padding: 0 81px;
	border-left: 1px solid #8d8d8d;
}


/*第三part页面*/
.third-part{
	height: 360px;
	background-color: #ededec;
	position: relative;
}

.third-part .third-box{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -420px;
}

.third-part .third-box img{
	margin: 20px;
	padding-left: 353px;
}

.third-part .third-box p{
	color:#a1a1a1;
	font-size: 50px;
	letter-spacing: 5px;
}

/*第四part页面*/
.fourth-part{
	height: 340px;
	background-image: url(img/bgimage-1.jpg);
	color: #FFFFFF;
	text-align: center;
}

.fourth-part .fourth-box{
	
}

.fourth-part .fourthPara-1{
	font-size: 23px;
	padding: 15px 0 0 0;
	margin-bottom: 10px;
}

.fourth-part hr{
	margin-left: 624px;
	background-color: #FFFFFF;
	
	width: 30px;
	height: 2px;
	border: none;
}
.fourth-part .fourthPara-2{
	font-size: 12px;
	margin: 20px;
}

.fourth-part form{
	margin-top: 50px;
}

.fourth-part select{
	color: #b5b7b7;
	width: 234px;
	height: 36px;
	padding-left: 5px;
	margin-left: 28px;
}

.fourth-part select option{
	height: 36px;;
}
.fourth-part input{
	width: 234px;
	height: 36px;
	margin-left: 28px;
	padding-left: 20px;
	background-color: #be4e48;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 20px;
	border: none;
}

/*第五part*/
.fifth-part{
	background-color: #f7f7f7;
	height: 605px;
	position: relative;
}

.fifth-box{
	height: 400px;
	width: 988px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.fifth-box figure{
	display: inline-block;
	text-align: center;
	padding-right: 36px;
}
.fifth-box figure:last-child{
	padding-right: 0px;
}

.fifth-box figure img{
	border: 1px solid #e1e1e1;
	padding: 10px 5px;
	background-color: #FFFFFF;
}

.fifth-box .pic-place{
	color: #323333;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
}

.fifth-box .pic-title{
	font-size: 12px;
	color: #9f9f9f;
	margin: 5px 0;
	
}

.fifth-box .place-em{
	letter-spacing: 38px;
	font-size: 19px;
	margin-right: -37px;
}

/*第六part*/
.sixth-part{
	height: 566px;
}

.sixth-part .sixth-l{
	background: url(img/sixPart-pic.jpg) no-repeat;

	position: relative;
	height: 566px;
	width: 850px;
}
.sixth-part .sixth-l .sixth-title{
	position: absolute;
	top: 17%;
	left: 25%;
	margin-right: -200px;
	margin-left: -200px;	
	font-size: 21px;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	
}

.sixth-part .sixth-l .sixthTitle-1{
	font-size: 47px;
}

.sixth-part .sixth-l .sixthTitle-2{
	font-size: 160px;
}

.sixth-part .sixth-l .l-triangle{
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-right: 30px solid #FFFFFF;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -18px;
}

/*seven-part*/

.seven-part{
	height: 520px;
	font-size: 19px;
	color: #FFFFFF;
}

.seven-part a{
	padding: 10px 30px;
	text-decoration: none;
	transition: all 0.2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.seven-part hr{
	border: none;
	width: 30px;
	height: 2px;
	margin: 20px 0 40px 196px;
}
.seven-part .seventh-l a{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.seven-part .seventh-l a:hover{
	color: #e74f4d;
	background-color: #ffffff;
}

.seven-part .seventh-c a{
	color: #e74f4d;
	border: 1px solid #e74f4d;
}

.seven-part .seventh-c a:hover{
	color: #FFFFFF;
	background-color: #e74f4d;
}

.seven-part .seventh-l{
	text-align: center;
	float: left;
	width: 33.3%;
	height: 520px;
	background-color: #e74f4d;
}


.seven-part .seventh-l hr{
	background-color: #ffffff;
}

.seven-part .seventh-c{
	text-align: center;
	float: left;
	width: 33.3%;
	
	height: 520px;
	color: #e74f4d;
	background-color: #FFFFFF;
	
}

.seven-part .seventh-c hr{
	background-color: #abaaaa;
}


.seven-part .seventh-para{
	margin-top: 169px;
	line-height: 30px;
	
}

.seven-part .seventh-r {
	float: right;
	width: 33.3%;
	height: 520px;
	position: relative;
}

.seven-part .seventh-r .r-triangle{
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 30px solid #FFFFFF;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -18px;
}

/* eighth-part*/

.eighth-part{
	height: 750px;
	text-align: center;
}

.eighth-part .eighth-para{
	height: 270px;
}
